.header {
  background-color: var(--gray-700);
  width: 100vw;
  padding: 5rem 0.625rem;
  display: flex;
  justify-content: center;
  align-item: center;
}

.header img {
  height: 3rem;
  margin: auto;
}